section {
    position: relative;
    z-index: 0;
  }
  .contain-sec {
    padding-top: 70px;
    display: grid;
    width: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    position: relative;
  }
  


.elements{
    /* height: 200px; */
    padding: 10px 14px;
    width: auto;
    background-color: rgba(75, 75, 75, 0.568);
    margin: 10px;
    border-radius: 6px;
}


/* test */
.thumb {
    display: grid;
    justify-content: center;
  }
  .thumb img {
    border-radius: 6px;
  }
  
  .tit:hover {
    color: #181818;
    cursor: pointer;
  }
  