@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400');
:root {
    --rd: #e72f2e;
    --white: #ffffff;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: rgb(43, 43, 43);
}

.nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 60px;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: black;

}

.menu-btn {
    position: absolute;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 60px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    margin: auto 0;
    /* border: 3px solid #fff; */
}

.menu-btn__burger {
    width: 20px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all 250ms ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all 250ms ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-8px);
    background-color: var(--rd);
}

.menu-btn__burger::after {
    transform: translateY(8px);
    background-color: var(--rd);
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

.submenu{
    display: none;
    position: absolute;
    height: max-content;
    left: 2%;
    right: 2%;
    background-color: black;
    margin-top: 0px;
    z-index: 8;
    padding: 24px;
    border-bottom: 1px solid var(--rd);
    border-left: 1px solid var(--rd);
    border-right: 1px solid var(--rd);
}

.logo{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 120px;
    background: url(../static/images/logo.svg) no-repeat;
    margin: 16px 8px;
    
}

.doc-bar{
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    border-top: 2px solid var(--rd);
    justify-content: space-between;
    height: 55px;
    padding-top: 6px;
    padding-bottom: 6px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
}

.nav-menu-list{
    position: absolute;
    top: 10px;
    right: 0;
    margin: 0 16px;
}
.nav-main-op{
    display: flex;
    flex-direction: row;

    
}
.nav-main-op ul{
    text-decoration: none;
}
.nav-main-op a {
    margin: 0 12px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: all 250ms ease-in-out;
}
.nav-main-op a:hover {
    color:var(--rd);
}
.nav-main-op li {
    font-size: 18px;
    list-style: none;
    margin: 8px auto;
    color: white;
    cursor: pointer;
}

.nav-movie-expand:hover, .nav-music-expand:hover , .nav-book-expand:hover{
    color: var(--rd);
}

.nav-movie-more, .nav-book-more, .nav-music-more{
    display: none;
    background-color: black;
    margin: 16px 8px;
    padding: 10px 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.nav-movie-more a, .nav-book-more a, .nav-music-more a{
    font-size: 14px;
    transition: all 250ms ease-in-out;
}
.nav-movie-more a:hover, .nav-book-more a:hover, .nav-music-more a:hover{
    color: var(--rd);
}
.nav-movie-more {
    background-color: rgba(137, 43, 224, 0.1);
}

.nav-music-more {
    background-color: rgb(219, 58, 0, 0.1);
}

.nav-book-more {
    background-color: rgba(172, 255, 47, 0.1);
}







/* doc */

.doc-stuff-left{
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    padding: 5px 16px;
    margin-bottom: 0px;
}
.add-list{
    height: max-content;
}
.add-list img{
    height: 28px;
    width: auto;
    cursor: pointer;
}
.add-list img:hover{
    height: 30px;
    width: auto;
    cursor: pointer;
}
.user-doc-logo{
    height: max-content;
}
.user-doc-logo img{
    height: 28px;
    width: auto;
    cursor: pointer;
}
.user-doc-logo img:hover{
    height: 30px;
}
.doc-stuff-center{
    width: max-content;
    align-self: center;
    margin: auto;
}
.doc-stuff-center img{
    height: 28px;
}
.doc-stuff-center img:hover{
    height: 30px;
}
.login-sub-menu{
    display: none;
    height: 60px;
    width: max-content;
    background-color: black;
    border-top: 1px solid var(--rd);
    border-left: 1px solid var(--rd);
    border-right: 1px solid var(--rd);
    position: fixed;
    border-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    bottom: 60px;
    left: 20px;
    padding: 10px 20px;
}

.login-sub-menu a{
    text-decoration: none;
    color: white;
    transition: all 250ms ease-in-out;
}
.login-sub-menu a:hover{
    color: var(--rd);
}
.login-sub-menu ul{
    list-style: none;
    
}