@media only screen and (max-width: 900px) {
    .nav{
        height: 50px;
    }
    .logo {
        height: 25px;
        width: 54px;
        background: url(../static/images/logo-small.svg) no-repeat;
        margin: 16px 10px;
    }

    .menu-btn {
        display: flex;
    }

    .submenu {
        display: block;
        margin-top: -600px;
    }

    .main-op {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .main-op a {
        text-decoration: none;
        color: white;
    }

    .main-op li {
        font-size: 22px;
        list-style: none;
        margin: 8px auto;
        color: white;
    }

    .movie-more {
        background-color: rgba(137, 43, 224, 0.1);
    }

    .music-more {
        background-color: rgb(219, 58, 0, 0.1);
    }

    .book-more {
        background-color: rgba(172, 255, 47, 0.1);
    }

    .movie-more,
    .music-more,
    .book-more {
        display: none;
    }

    .movie-more a,
    .music-more a,
    .book-more a {
        font-size: 20px;
    }

    .book-more a:hover {
        color: cornflowerblue;
    }
    .nav-menu-list{
        display: none;
    }
}